{% ckan_extends %}
{% block help_forgotten %}
<section class="module module-narrow module-shallow">
  {% block help_forgotten_inner %}
  <h2 class="module-heading">{{ _('Help') }}</h2>
  <div class="module-content">
    <p>{% trans %}You should use your NINA credentials: username and password.{% endtrans %}</p>
    <p>{% trans %}Do not use your full email address.{% endtrans %}</p>
  </div>
  {% endblock %}
</section>
{% endblock %}
